*{
  box-sizing: border-box;
}

li{
  display: inline-block;
  margin-right: 150px; 
}

button{
  /* margin-left: 20px; */
}
.tasks{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}